## Nama  : Muhammad Randy Prasetya
## NIM   : 2311110015
## Kelas : SD-04-01

# Import Library

In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Memanggil Data

In [33]:
cad = "/content/CAD-Dataset.xlsx"
dataset = pd.read_excel(cad)

### Memanggil dataset ke environment

# Menampilkan Data

In [29]:
print("Dataset Awal:")
print(dataset.head())

Data Awal:
   No  Age  Weight  Length    Sex  BMI DM HTN Current Smoker EX-Smoker  ...  \
0   1   53      90     175   Male    ?  n   Y              Y         n  ...
1   2   67      70     157  Fmale  NaN  n   Y              n         n  ...
2   3   54      54     164   Male  NaN  n   n              Y         n  ...
3   4   66      67     158  Fmale  NaN  n   Y              n         n  ...
4   5   50      87     153  Fmale  NaN  n   Y              n         n  ...

     K   Na    WBC Lymph Neut  PLT EF-TTE Region RWMA     VHD    Cath
0  4.7  141   5700    39   52  261     50           0       N     Cad
1  4.7  156   7700    38   55  165     40           4       N     Cad
2  4.7  139   7400    38   60  230     40           2    mild     Cad
3  4.4  142  13000    18   72    ?     55           0  Severe  Normal
4  4.0  140   9200    55   39  274     50           0  Severe  Normal

[5 rows x 56 columns]

### Menampilkan beberapa bagian awal dari dataset

# Preprocessing

In [41]:
missing_values = dataset.isnull().sum()
print("\nMissing values per kolom:")
print(missing_values)

Missing values per kolom:
No                         0
Age                        0
Weight                     0
Length                     0
Sex                        0
BMI                      302
DM                         1
HTN                        0
Current Smoker             4
EX-Smoker                  0
FH                         0
Obesity                    0
CRF                        0
CVA                        0
Airway disease             0
Thyroid Disease            0
CHF                        0
DLP                        0
BP                         0
PR                         0
Edema                      0
Weak Peripheral Pulse      0
Lung rales                 0
Systolic Murmur            0
Diastolic Murmur           0
Typical Chest Pain         0
Dyspnea                    0
Function Class             0
Atypical                   0
Nonanginal                 1
Exertional CP              0
LowTH Ang                  2
Q Wave                     0
St Elevation               0
St Depression              0
Tinversion                 0
LVH                        0
Poor R Progression         0
FBS                        2
CR                         0
TG                         0
LDL                        0
HDL                        0
BUN                        0
ESR                        1
HB                         0
K                          0
Na                         0
WBC                        0
Lymph                      0
Neut                       0
PLT                        0
EF-TTE                     0
Region RWMA                0
VHD                        0
Cath                       0
dtype: int64

In [44]:
for column in dataset.columns:
    if dataset[column].isnull().sum() > 0:
        if dataset[column].dtype == 'object':
            dataset[column].fillna(dataset[column].mode()[0], inplace=True)
        else:
            dataset[column].fillna(dataset[column].median(), inplace=True)

### Dataset diperiksa apakah memiliki missing values. Apabila ada maka values yang hilang itu diubah sesuai tipenya. Median apabila kolom numerik, dan menggunakan modus jika kategorikal.

# Mengubah semua kolom jadi numerik

In [46]:
for column in dataset.select_dtypes(include=['object']).columns:
    dataset[column] = pd.factorize(dataset[column])[0]

print("\nSetelah diconvert:")
print(dataset.head())

Setelah diconvert:
   No  Age  Weight  Length  Sex  BMI  DM  HTN  Current Smoker  EX-Smoker  ...  \
0   1   53      90     175    0    0   0    0               0          0  ...
1   2   67      70     157    1    1   0    0               1          0  ...
2   3   54      54     164    0    1   0    1               0          0  ...
3   4   66      67     158    1    1   0    0               1          0  ...
4   5   50      87     153    1    1   0    0               1          0  ...

     K   Na    WBC  Lymph  Neut  PLT  EF-TTE  Region RWMA  VHD  Cath
0  4.7  141   5700     39    52    0      50            0    0     0
1  4.7  156   7700     38    55    1      40            4    0     0
2  4.7  139   7400     38    60    2      40            2    1     0
3  4.4  142  13000     18    72    3      55            0    2     1
4  4.0  140   9200     55    39    4      50            0    2     1

[5 rows x 56 columns]

### Mengubah semua kolom menjadi bentuk numerik dengan faktor indeks

# Normalisasi

In [48]:
scaler = MinMaxScaler()
dataset_update = pd.DataFrame(scaler.fit_transform(dataset), columns=dataset.columns)

print("\nSetelah normalisasi:")
print(dataset_update.head())

Setelah normalisasi:
         No       Age    Weight    Length  Sex  BMI   DM  HTN  Current Smoker  \
0  0.000000  0.410714  0.583333  0.729167  0.0  0.0  0.0  0.0            0.00
1  0.003311  0.660714  0.305556  0.354167  1.0  1.0  0.0  0.0            0.25
2  0.006623  0.428571  0.083333  0.500000  0.0  1.0  0.0  1.0            0.00
3  0.009934  0.642857  0.263889  0.375000  1.0  1.0  0.0  0.0            0.25
4  0.013245  0.357143  0.541667  0.270833  1.0  1.0  0.0  0.0            0.25

   EX-Smoker  ...         K        Na       WBC     Lymph      Neut       PLT  \
0        0.0  ...  0.472222  0.464286  0.139860  0.603774  0.350877  0.000000
1        0.0  ...  0.472222  1.000000  0.279720  0.584906  0.403509  0.007463
2        0.0  ...  0.472222  0.392857  0.258741  0.584906  0.491228  0.014925
3        0.0  ...  0.388889  0.500000  0.650350  0.207547  0.701754  0.022388
4        0.0  ...  0.277778  0.428571  0.384615  0.905660  0.122807  0.029851

     EF-TTE  Region RWMA       VHD  Cath
0  0.777778          0.0  0.000000   0.0
1  0.555556          1.0  0.000000   0.0
2  0.555556          0.5  0.333333   0.0
3  0.888889          0.0  0.666667   1.0
4  0.777778          0.0  0.666667   1.0

[5 rows x 56 columns]

### Menormalisasikan data dengan Min-Max Scaler agar semua nilai berada dalam rentang [0,1]